
/* Importa a fonte Poppins do Google Fonts e define estilos padrão para elementos */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estiliza o contêiner principal */
.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #a447fa, #2a38fa);
}

/* Estilos para a imagem superior (imgBx) */
.imgBx {
    position: absolute;
    left: 50%;
    top: -80px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
}

/* Quando o cartão é hover, aumenta o tamanho da imagem superior */
.CARD:hover .imgBx {
    width: 250px;
    height: 250px;
}

/* Estilos para a imagem dentro da imagem superior (imgBx) */
.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.CARD:hover .gif {
    width: 60%;
    height: 40%;
    position: absolute;
    top: -14px; /* Ajuste a posição vertical (top) conforme necessário */
    left: 65px; /* Ajuste a posição horizontal (left) conforme necessário */
    transition: 0.3s;

}
.gif {
    width: 30%;
    height: 40%;
    position: absolute;
    top: -8px; /* Ajuste a posição vertical (top) conforme necessário */

}
  
      
/* Estilos para o cartão principal (CARD) */
.CARD {
    position: relative;
    width: 350px;
    height: 190px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}

/* Estiliza a parte interna do cartão (card_inner) */
.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

/* Rotação inicial do cartão */
.CARD:not(.rotate) .card_inner {
    transform: rotateY(0deg);
}

/* Rotação ativada do cartão */
.CARD.rotate .card_inner {
    transform: rotateY(180deg);
}

/* Estilos para a parte frontal e traseira do cartão (front e back) */
.front, .back {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

/* Estilos para a parte traseira do cartão (back) */
.back {
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transform: rotateY(180deg);
    overflow: hidden;
}

/* Estilos para o título na parte traseira do cartão (h2) */
.back h2 {
    font-size: 0.9em;
    font-weight: 500;
    opacity: 0.59;
    color: #000000;
    text-align: center;
    width: 96%;
    height: 25%;

}

/* Estilos para o texto na parte traseira do cartão (p) */
.back p {
    font-size: 1.2em;
    color: #494848;
    text-align: center;
}

/* Estiliza o contêiner do botão do Instagram na parte traseira do cartão */
.instagram-button-container {
    position: absolute;
    bottom: 10px;
    height: 80px;
    transform: translateY(150px);
    transition: 2s;
}

/* Quando o cartão é hover, move o botão do Instagram para cima */
.CARD:hover .instagram-button-container {
    transform: translateY(0px);
}

/* Quando o cartão é hover, aumenta a altura do cartão */
.CARD:hover {
    height: 450px;
}

/* Estilos para a seção de conteúdo do cartão (content) */
.CARD .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

/* Estilos para os detalhes na parte frontal do cartão (details) */
.CARD .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(130px);
}

/* Quando o cartão é hover, move os detalhes para cima */
.CARD:hover .content .details {
    transform: translateY(0px);
}

/* Estilos para o título na parte frontal do cartão (h2) */
.CARD .content .details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;

}

/* Estilos para o texto menor na parte frontal do cartão (span) */
.CARD .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.59;
    /*somente para manter informações na mesma linha (achei utíl e interessante)
    /*white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    /*text-align: left;
    margin-left: -20px; /* Adicione um valor negativo aqui para mover o texto para a esquerda */
}
/* Estilos para o botão de "clique aqui para mais informações" (botao) */
.botao {
    font-size: 0.67em;
    color: rgb(114, 92, 214);
    cursor: pointer;
    transition: opacity 0.5s;
}

/* Estilos para o botão quando hover (botao.hover) */
.botao:hover {
    opacity: 0.5;
}
.botaovoltar {
    font-size: 0.75em;
    color: rgb(114, 92, 214);
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 89%;

}

.CARD:hover .botaovoltar {
    transition: opacity 2.4s;
    opacity: 50;
    transition: 0.5;
}
/* Estilos para o botão quando hover (botao.hover) */
.CARD:hover .botaovoltar:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}

/* Estilos para a seção de redes sociais (social) */
.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estiliza os botões de redes sociais (button) */
button {
    margin: 12px 8px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.5s;
}

/* Estilos para os botões de redes sociais quando hover (button.hover) */
button.hover {
    opacity: 0.5;
}

/* Estilos para os ícones nos botões de redes sociais (i) */
button i {
    color: #ffffff;
    font-size: 1.4em;
}

/* Estilos para o botão do GitHub (button.github) */
button.github {
    background-color: #000000;
}
button.github:hover {
    opacity: 0.5;
}
/* Estilos para o botão do LinkedIn (button.linkedin) */
button.linkedin {
    background-color: #0465a7;
}
button.linkedin:hover {
    opacity: 0.5;
}

/* Estilos para o botão do TikTok (button.tiktok) */
button.tiktok {
    background: linear-gradient(120deg, #f01d16b0, #0834f7);
}
button.tiktok:hover {
    opacity: 0.5;
}

/* Estilos para o botão do Instagram (button.instagram) */
button.instagram {
    background: linear-gradient(190deg, #e916f0b0, #d3f708);
}
button.instagram:hover {
    opacity: 0.5;
}
/*site feito por GUILHERME FERREIRA ou DevFerreira
/*"https://github.com/GuilhermeF-R"*/